@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


  /* Shared styles */

  main{
    max-width: 1440px;
    margin: 0 auto;
  }

  .display-flex{
    display: flex;
  }

  .bg-grey{
    background-color: #111111;
  }

  .bg-black{
    background-color:  rgb(0, 0, 0);;
  }

  .behind-border{
    /* border: 2px solid pink; */
  }

  .see-border{
    /* border: 2px solid blue; */
  }

  .text-grey{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
  }

  .text-white{
    color: #FFFFFF;

  }

  .text-white-normal{
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0px 10px;
  }


  .text-grey-normal{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;

  }

  .button-normal{
    position: static;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    
  }
  
  .text-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 3rem;
font-weight: 900;
margin-bottom: 14px;
  }

  
  

  




/* Header related styles,   navbar and banner */

  /*   navbar related styles */

  .nav-links{
    gap: 20px;
    margin-right: 190px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    justify-items: center;
    align-items: center;
    border-radius: 39px;
    box-sizing: border-box;

    width: 465px;
    height: 46px;

    
    
  }

  .nav-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    /* margin-left: 23px; */
    
    justify-items: center;
    align-items: center;
    
  }

  .nav-item{
    list-style: none;
    
    
  }

  .ham-show{
    list-style: none;
    display: none;
  }


  .navbar{
    justify-content: space-between;
    align-items: center;
    

  }

 .brand{
    font-size: 2.25rem;
    font-weight: 800;
    text-align: left;
    color: #E6533C;
    margin-left: 190px;

 }

  

  .navbar, .banner{             /* important */
    max-width: 1440px ;   
    margin: 0 auto;
}

.home{
    width: 465px;
    height: 86px;
    border-radius: 46px;
    background-color: #E6533C;

    /* border: 3px solid blueviolet; */

    /* padding: 10px; */
    padding: 13px 40px;
    

}

.ham{
    width: 15px;
    height: 15px;
    /* border: 2px solid blue; */
    

    
}



/* Banner related styles starts here */


.banner{
  gap: 190px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;


}

.banner-text-container{
/* 
  border: 2px solid aqua; */
  max-width: 520px;

 
  

}

.banner-description{
   max-width: 520px;
   max-height: 48px;
   margin-bottom: 28px;
   
}


.download-now{
   position: static;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color: #111111;

    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;

    
}

.banner-text-title{
  color: rgb(255, 255, 255);
  font-size: 4.875rem;
  font-weight: 900;
  margin-bottom: 28px;

}

.shape{
  
  
}


.image-box{
  
max-width: 349px;
height: 580px;
/* border: 2px solid salmon; */
margin-top: -50px;


}

/* 2 boxes in banner starts here  */
 
.box500-container{

  
  position: absolute;
  width: 193px;
  height: 98px;
  left: 1107px;
  top: 260px;




  box-sizing: border-box;
border: 0.76px solid rgba(255, 255, 255, 0.1);
border-radius: 9.07px;

backdrop-filter: blur(15.12px);
background: rgba(255, 255, 255, 0.1);

flex-direction: column;
justify-content: center;
align-items: center;

padding-bottom: 10px;
padding-bottom: 15px;

}

.five-hundred {
   margin-top: 10px;
   color: rgb(255, 255, 255);
   font-size: 2rem;
   font-weight: 900;

   /* border: 2px solid pink; */

   

  
}


.five-hundred-description{

  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
font-weight: 400;

 margin-top: 5px;

 /* border: 2px solid pink; */


}


.box350-container{


  position: absolute;
width: 206px;
height: 96px;
left: 764px;
top: 556px;

box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);

}

.three-hundred{
  color: rgb(250, 250, 249);
font-family: Inter;
font-size: 24px;
font-weight: 900;


width: 68px;
height: 24px;
left: 839px;
top: 576px;
text-align: left;

margin-left: 20px;



}

.three-hundred-description{

  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;

  width: 108px;
height: 24px;
left: 839px;
top: 608px;

text-align: left;

margin-left: 20px;

}


.eclips{
  position: static;
  /* width: 224px;
  height: 54px; */
  border-radius: 42px;
  background: rgb(230, 83, 60);

  width: 40px;
height: 40px;
left: 787px;
top: 584px;

margin-left: 15px;
margin-top: 25px;

}


/* MAIN PART STARTS HERE */

/* change-container starts here */

.main-one{
  display: flex;

  justify-content: center;
  align-items: center;
}


.change-habbit{    

/* border: 2px solid blue; */
  max-width: 1044px;
/* height: 462px; */
left: 198px;
top: 815px;

display: flex;
flex-direction: column;
gap: 54px;


justify-items: center;
align-items: center;

}

.change-container{

  width: 476px;
  height: 175px;
}



.card-container{
  /* border: 2px solid yellow; */

  max-width: 1044px;
  /* height: 284px; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  
  
}

.card-frame{
/* 
  border: 2px solid pink; */

  width: 231px;
height: 274px;

display: flex;
flex-direction: column;
align-items: center;
  justify-content: center;

}

.image-circle{
  border: 0.5px solid white;
  width: 160px;
  height: 160px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: contain;

  margin: 0 auto ;
  
}

.image-circle img {
  width: 100%;
  height: 100%;
}

.img-title{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.125rem;
font-weight: 600;
}

.img-description{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.875rem;
font-weight: 400;

text-align: center;

}

/* Main two starts here */

.main-two{
  /* border: 2px solid red; */

        max-width: 1044px;

        border-radius: 18px;

   background: rgb(34, 34, 34);

   display: flex;
   justify-items: center;
   align-items: center;

   gap: 50px;

   padding:  0 30px;

   margin-top: 100px;
   
}

.text-part{
  max-width:  443px;

  /* margin-left: 15px; */

}




.button-join{
  /* position: static; */
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  
}

.img-part{
  width: 366px;
height: 312px;
}

.img-part{
  /* border: 2px solid rgb(233, 14, 50); */
  width: 366px;
height: 280px;


  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: contain;

  margin: 0 auto ;
  
}

.img-run img {
  
  height: 90%;
  width: 90%;
  
}

/* Main three starts here */

.section-three-overall{

  display: flex;
  justify-content: center;
  align-items: center;

}


.main-three{
  /* border: 2px solid violet; */
  max-width:  1010px;

  display: flex;
  flex-direction: column;
  

  gap: 58px;
}

.main-three-text{
  max-width: 651px;
height: 120px;
}






/* MAIN THREE IMAGES ARE HERE */

/* flexbox-one


.flex-one{
  border: 2px solid orange;
  display: flex;
}
.imgs-1{

  background: rgba(6, 255, 210, 0.5);

}


.imgs-1 img{
display: block;
  
  border: 2px solid pink;

  max-width: 250px;
  height: 218px;

  opacity: 50%;
}


.imgs-2{
  background-color: #FF00004D;
  
}

.imgs-2 img{

 display: block;
  border: 2px solid red;

  
  max-width: 539px;
height: 218px;

opacity: 30%;
}


.imgs-3{
  background-color:  rgba(0, 0, 0, 0.5);
  object-fit: cover;
 background-position: center;
  
}
.imgs-3 img{
  background-position: center;
  
  
  
  border: 2px solid green;

  max-width: 388px;
  height: 218px;

opacity: 50%;
} */



.flexbox-one , .flexbox-two{
  display: flex;
}


.train-img-1{
  background: rgba(6, 255, 210, 0.5);

}
.train-img-2{
  background:  rgba(255, 0, 0, 0.3);

}
.train-img-3{
  background: rgba(0, 0, 0, 0.5);

}
.train-img-4{
  background: rgba(0, 0, 0, 0.5);

}
.train-img-5{
  background: rgba(66, 255, 0, 0.3);

}
.train-img-6{
  background: rgba(0, 71, 255, 0.3);

}

.train-img-1 img{

opacity: 50%;

  display: block;
/* border: 3px solid peru; */

  max-width:  326.67px;
  height: 272px;

background: rgba(0, 0, 0, 0.2);


}
.train-img-2 img{
  opacity: 30%;
  display: block;
/* border: 3px solid peru; */

max-width: 326.67px;
  height: 272px;

background: rgba(0, 0, 0, 0.2);


}
.train-img-3 img{
  opacity: 50%;
  display: block;
/* border: 3px solid peru; */

max-width: 326.67px;
  height: 272px;

background: rgba(0, 0, 0, 0.2);


}
.train-img-4 img{
  opacity: 50%;
  display: block;
/* border: 3px solid peru; */

max-width: 326.67px;
  height: 272px;

background: rgba(0, 0, 0, 0.2);


}
.train-img-5 img{
  opacity: 50%;
  display: block;
/* border: 3px solid peru; */

max-width: 326.67px;
  height: 272px;

background: rgba(0, 0, 0, 0.2);


}
.train-img-6 img{
  opacity: 50%;
  display: block;
/* border: 3px solid peru; */

max-width: 326.67px;
  height: 272px;

background: rgba(0, 0, 0, 0.2);


}











/* MEET TRAINER BOX STARTS HERE */

.meet-team-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  /* gap: 70px; */



}

.text-align{
  text-align: center;
}

.meet-img-box-container {
  /* border: 3px solid green; */

  width: 1060px;
  height: 604px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  justify-items: center;
  align-items: center;

  margin-top: 80px;

  

  background: rgba(255, 255, 255, 0.1);

  margin-bottom: 100px;


}

.meet-img-style img{
  display: block;
/* border: 3px solid peru; */

  width: 326.67px;
  height: 272px;
  border-radius: 18px;
background: rgba(0, 0, 0, 0.2);


}


.img-text{
  position: absolute;
  bottom: 200px;
  
}


/* FOOTER PART STARTS HERE */

.footer{
 background: rgba(255, 255, 255, 0.1);;
}


.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 110px;
  padding-bottom: 30px;

}

.footer-one{
  /* border: 2px solid palegoldenrod; */
  width: 443px;

  
  

  

}

.fit-title{

  /* border: 2px solid palegoldenrod; */
  color: rgb(230, 83, 60);
font-family: Inter;
font-size: 70px;
font-weight: 700;

margin-bottom: 20px;



}

.fit-description{

  /* border: 2px solid palegoldenrod; */
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;


}

.footer-two{
  /* border: 2px solid green; */
  width: 181px;
}

.footer-two h1{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;
}

.footer-two a{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 23px;
line-height: 44px;

text-decoration: none;
}



.line{

  border: 2px solid rgba(255, 255, 255, 0.1);

  max-width: 1059.5px;
   height: 0;

   display: flex;

  
   justify-self: center;
   margin: 20px auto;
   
}

.rights{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
display: flex;
justify-content: center;

padding-top: 20px;
padding-bottom: 50px;
}







/* Responsive media query for small device*/

@media screen and (max-width: 576px){
    .nav-item{
        display: none;
        
    }

    
    .ham-show{
        display: block;
        margin-left: 21px;
    }

    .nav-links{
        border: none;
    }

    .brand{
        margin-left: 18px;
       
        /* margin-right: 20px; */
    }

    .banner{
      flex-direction: column;
    }

    .box350-container{




      left: 32px;
      top: 1200px;

    }

    .box500-container{
      width: 145.91px;
     height: 74.09px;
      left: 250px;
      top: 1000px;
      
    }

    .five-hundred {
      font-size: 1rem;
    }


    /* main-one */


    .change-habbit{    

      /* border: 2px solid blue; */

        max-width: 1044px;
      /* height: 462px; */

      /* left: 198px;
      top: 815px; */
      
      display: flex;
      flex-direction: column;
      gap: 54px;
      
      
      justify-items: center;
      align-items: center;
      
      }

    
    .card-container{
      /* border: 2px solid yellow; */
    
      max-width: 1044px;
      /* height: 284px; */
    
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      
    }

    /* Main two starts here */

    .main-two{
      flex-direction: column;
    }



    .main-three-img-box{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: none;
      
    }

    /* .img-6 img{
      display: none;
    }
    .img-5 img{
      display: none;
    } */



/* Meet trainer starts here */

.meet-img-box-container{
 background: rgba(255, 255, 255, 0.1);
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  padding-bottom: 600px ;



  width: 380px;

  border-radius: 18px;
}


.meet-img-style{
  background: rgba(255, 255, 255, 0.1);
  
}

.meet-img-1  , .meet-img-4{
  display: none;
}



.footer-container{
  flex-direction: column;
  gap: 10px;

  align-items: flex-start ;

 padding-left: 15px;

  

}



.flexbox-one , .flexbox-two{
  /* flex-direction: column; */
}


.train-img-6 img{
  display: none;

}

.train-img-3 img{
  display: none;

}

.train-img-1 img{
  max-width: 220px;
}
.train-img-2 img{
  max-width: 220px;
}
.train-img-4 img{
  max-width: 220px;
}
.train-img-5 img{
  max-width: 220px;
}


.main-three{
  padding: 10px;
  max-width: 800px;
}

.main-three-text{

  margin-bottom: 90px;


}

}
